---
import Section from '@/components/Section.astro';
import Card from '@/components/Card.astro';
import Base from '@/layouts/Base.astro';
import Heading from '@/components/Heading.astro';
import { AppConfig } from '@/utils/AppConfig';
import { MarkdownInstance } from 'astro';
import { sortPostsByDate } from '@/utils/data.util';

export async function getStaticPaths(): Promise<any> {
	const allPosts = Object.values(
		import.meta.glob('../posts/*.md', { eager: true })
	) as MarkdownInstance<any>[];

	const allTags: Set<string> = new Set(
		allPosts.map((post: MarkdownInstance<Record<string, any>>) => post.frontmatter.tags).flat()
	);

	return [...allTags].map((tag) => {
		const filteredPosts = allPosts.filter((post: MarkdownInstance<Record<string, any>>) =>
			post.frontmatter.tags.includes(tag)
		);

		// Sort posts by pinned status and date
		filteredPosts.sort(sortPostsByDate);

		return {
			params: { tag: tag },
			props: {
				posts: filteredPosts
			}
		};
	});
}

interface Props {
	posts: MarkdownInstance<Record<string, any>>[];
}

const { tag } = Astro.params;
const title = AppConfig.title;
const description = AppConfig.description;

const { posts } = Astro.props;
---

<Base head={{ title, description }}>
	<Section>
		<Heading title={`Posts with #${tag}`} />
		<div class="pt-2 text-center">
			<a href="/tags" class="underline hover:text-orange-600">all tags →</a>
		</div>
	</Section>
	<Section>
		{
			posts
				.filter((post: any) => post.frontmatter.tags?.includes(tag))
				.map((post: any) => (
					<div class="mb-4 basis-1 last:mb-0">
						<Card post={post} />
					</div>
				))
		}
	</Section>
</Base>
