---
import Section from './Section.astro';
---

<Section>
	<div
		class="content prose dark:prose-invert prose-code:rounded-lg prose-code:bg-stone-800 prose-code:p-1 prose-code:text-orange-600 prose-img:rounded-lg prose-img:shadow-xl prose-img:dark:shadow-stone-800 mt-8 max-w-none text-base leading-8 text-black dark:text-white"
	>
		<slot />
	</div>
</Section>

<!-- Tailwind doesn't fully support some of the complex CSS selectors needed for code highlighting,
     so we need to keep some custom CSS but applied through Tailwind's plugin system -->
<style is:global>
	/* These styles are for code highlighting that can't be easily implemented with just Tailwind */
</style>
